<main>
  <p class="notice"><%= notice %></p>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'users/user', user: @user %>
        <h2>New book</h2>
        <%= render 'books/book', book: @newbook %>
      </div>
      <div class="col-md-8 offset-md-1">
        <h1>Book detail</h1>
        <table class="table">
          <tr>
            <td><%= attachment_image_tag @user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg"%></td>
            <td><%= link_to @user.name, user_path(@user) %></td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <% if @book.user_id == current_user.id %>
              <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-success"%></td>
              <td><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-danger" %></td>
            <% end %>
          </tr>
        </table>

          <% @book.book_comments.each do |book_comment| %>
          <table class = "small">
          　<td>
          　     <%= attachment_image_tag @user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg"%>
                <span class="text-center d-block">
                  <%= link_to user_path(book_comment.user) do %>
                    <%= book_comment.user.name %>
                  <% end %>
                </span>
            </td>
            <td><%= book_comment.comment %></td>
            <% if book_comment.user == current_user %>
            <td>
              <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-danger" %>
            </td>
            <% end %>
          <% end %>
        </table>
        <div class = "comment_up">
            <%= form_with(model:[@book,@book_comment], local: true) do |f| %>
              <%= f.text_area :comment, size:"100x5", placeholder: "コメントをここに" %>
              <%= f.submit "送信する" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</main>